*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
}

body {
  min-height: 100vh;
  background: rgb(235, 244, 242);
}

form {
  background: #f1f1f1;
  z-index: 1;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 20px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.054);
}

input {
  z-index: 1;
  border: 1px solid rgb(235, 244, 242);
  color: #333;
  outline: none;
  border-radius: 5px;
  height: 30px;
  margin: 10px 0 5px;
  width: 270px;
  font-size: 1.2rem;
  transition: 0.2s;
}

input:focus {
  border: 1px solid #333;
}

#result {
  display: flex;
  flex-wrap: wrap;
  padding-top: 110px;
}

#result > li {
  flex: 1 0 20%;
  min-width: 280px;
  background: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.084);
}

h2 {
  margin: 6px auto;
  color: rgb(104, 104, 218);
}
h3 {
  color: rgb(104, 104, 218);
  padding-bottom: 20px;
}

p {
  color: #333;
  margin: 5px 0;
}

img {
  width: 100%;
  margin: 10px 0;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.304);
  transition: opacity 0.2s ease-in-out;
}

li > ul > li {
  text-align: left;
}

button {
  background: rgb(104, 104, 218);
  color: white;
  border: none;
  width: 130px;
  height: 30px;
  text-align: left;
  padding: 0 2em;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.4s ease-out;
  will-change: transform;
}

button:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-wrapper {
  z-index: 5;
  background-color: #faf8f2;
  padding: 20px;
  box-shadow: 0 0 10px 1px #000 inset;
  width: 1000px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
  border-radius: 15px;
}

.modal-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 100%;
}

.modal-content img {
  width: 300px;
  margin: 10px 0;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.304);
  transition: opacity 0.2s ease-in-out;
}

.modal-text {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 600px;
  height: 100%;
  padding: 0 20px;
}
.modal-text p {
  text-align: left;
  margin: 10px 0;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
